@font-face {
  font-family: ROBOTO;
  src: url(../font/RobotoMono-VariableFont_wght.ttf);
}

body {
  font-family: ROBOTO;
  color: #444;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: #4fa6d5;
}

a:hover {
  color: #45beff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: Roboto;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title{
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
}

.register-center{
    position: relative;
    display: flex;
    justify-content: center;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;  
}

::-moz-placeholder {
  font-style: italic;  
}

:-ms-input-placeholder {  
  font-style: italic; 
}

.login-center{
    position: relative;
    display: flex;
    justify-content: center;
}

.item-center{
    position: relative;
    display: flex;
    justify-content: center;
}

.box{
  border: 1px solid #8cd3ff;
  border-radius: 10px;
}

/*@media screen and (min-height: 500px) {
    .login-center{
      align-items: center;
      height: calc(100vh - 80px - 80px);
    }
}*/



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #8cd3ff;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #59bfff;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #8cd3ff;
  box-shadow: 0px 0px 10px #59bfff;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.absolute-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.bg-profile {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin: 0.5rem 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #591b8e;
  border-color: #591b8e;
}

#main {
  margin-top: 80px;
  min-height: calc(100vh - 80px - 55px);
}


.main-sidebar{
  width: 300px;
  position: relative;
  border-right: 1px solid #dee2e6!important;
}

.main-content{
  width: calc(100% - 300px);
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.main-sidebar .nav>.nav-item {
  width: 100%;
}

.nav>.nav-item .nav-link:hover {
  font-weight: bold;
  color: #ececec;
  background: #8cd3ff;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem;
}


.sidebar-sticky{
  position: sticky;
  top: 85px;
  min-height: calc(100vh - 135px);
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

/* scrollbar */
/* width */
.sidebar-sticky::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar-sticky::-webkit-scrollbar-track {
  background: none; 
  border-radius: 10px;
}
 
/* Handle */
.sidebar-sticky::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
.sidebar-sticky::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.list-item{
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -15px;
  padding-right: 15px;
}

/* width */
.list-item::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.list-item::-webkit-scrollbar-track {
  background: none; 
  border-radius: 10px;
}
 
/* Handle */
.list-item::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
.list-item::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 768px) {
  .main-sidebar{
    width: 100%;
    position: relative;
    border-right: 0px !important;
  }
  .main-content{
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
  }
  .sidebar-sticky{
    min-height: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #FFFFFF;
  opacity: 0.8;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #1c3745;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #68A4C4;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #1e4356;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #ddecf5;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #a2cce3;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav .drop-down .nav-dropdown {
  display: block;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(30, 67, 86, 0.9);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f3f8fa;
}

.images-show{
  max-width:100%
}

.img-datatable{
  max-width: 100px;
}

.ads-home{
  height: 200px;
}

.files input[type="file"]{
  height: 140px;
  width: calc(100% - 20px);
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0;
}
.files .input-file {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 60px 0px 80px 0px;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files .file-drop-area{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.files .file-drop-area:hover{    
    background:#f1f1f1;
 }
.files .file-drop-area.is-active{    
    background:#f1f1f1;
}
.files{ position:relative}

.file-text {
    position: absolute;
    top: 55px;
    left: 0;  
    width: 100%;
    right: 0;
    pointer-events: none;
    padding: 15px;
    height: auto;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.files:after {
    position: absolute;
    bottom: 0;
    left: 0;  
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 80px;
    content: "Choose or drag it here. ";
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single{
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #0b212d;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer>.container{
  height: 25px;
}


#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

